/* conseil.css */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    color: #333;


}

h1 {
    font-family: 'Montserrat', cursive;
    color: #007bff;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #666;
    margin-bottom: 10px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container h3 {
    text-align: left;
}

.container img {
    margin-top: 20px;
}


.container {
    width: 500px; /* Largeur fixe du conteneur */
    margin: 0 auto; /* Centre le conteneur horizontalement */
}

.divi-paragraphe {
    text-align: center;
}   