/* header.css */

body {
    margin: 0;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

.h1-head {
    margin-bottom: 20px;
    color: #f4f4f4;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    color: #fff; /* Couleur blanche par défaut */
    position: relative; /* Permet de positionner le soulignement par rapport au lien */
    transition: color 0.3s, border-bottom-width 0.3s; /* Animation du changement de couleur et de la largeur de la bordure */
}

nav ul li a:hover {
    color: #007bff; /* Changement de couleur au survol */
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.5px; /* Distance entre le lien et le soulignement */
    width: 0; /* Largeur initiale du soulignement */
    height: 2px; /* Épaisseur du soulignement */
    background-color: #007bff; /* Couleur du soulignement */
    transition: width 0.3s; /* Animation pour la largeur du soulignement */
}

nav ul li a:hover::after {
    width: 100%; /* Largeur du soulignement au survol */
}
