
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.container1{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    align-items: center;
    width: 100%;
    height: 350px;
    /* on regle la position */
    /* position: absolute; */
    
    transform: translate(-50%, -50%);
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10   px;
}


/* titre */
.titre-principal{
    text-align:center;
    
    font-size: 44px;

}

/* partie connexion a un compte existant */

.form-login{
    margin-top: 1rem;
    text-align: center;
}

input{
    font-size: 25px;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: none;
    
}

input[type="text"]{
    font-size:1px;
}

label{
    font-size: 20px;
    text-align: left;
}

input::placeholder {
    font-size: 1rem; /* Ajustez cette valeur selon vos besoins */
    color: #888; /* Optionnel : changer la couleur du placeholder */
    
}

/* gestion du bouton submit pour le rendre interactif */
.submit-btn {
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.submit-btn:active {
    background-color: #004494;
    transform: scale(0.95);
}



/* partie du bouton creation de compte */
.bouton-create-account {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}
.bouton-create-account:hover {
    background-color: #45a049;
}

.principal-div{
    display: flex;
    justify-content: center;
    
}

.container1, .container2 {
    flex: 2; /* Partager l'espace disponible */
    margin: 10px; /* Ajouter une marge entre les divs */
}


.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}