/* mon_compte.css */

/* Importation des polices */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Personnalisation de la scroll bar */
::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: grey;
}

*{
    font-family: 'Montserrat';
}

/* Styles généraux */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    
    color: #333;
}

h1.titre-principal {
    font-family: 'Montserrat', cursive;
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Montserrat', cursive;
    color: #555;
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #666;
    text-align: center;
    margin-bottom: 10px;
}

.main-content a {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid transparent; /* Bordure transparente par défaut */
    transition: background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
    text-align: center;
}

.main-content a:hover {
    background-color: #0056b3;
    border-color: #007bff; /* Bordure bleue au survol */
    transform: scale(1.05);
}

.main-content a:active {
    transform: scale(1);
}

.main-content a + a {
    margin-left: 10px;
}

.bouton-bas{
    display: flex;
    justify-content: center;
}